.ivu-tabs-content {
    padding-top: 0.1rem;
    .lOrderTab {
        margin-right: 0.15rem;
        background-color: rgb(252, 240, 240);
        height: 5rem;
        .body{
            .seat{
                display: inline-block;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: aqua;
            }
        }
    }
}