.bookModal{
    position: relative;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    font-style: normal;
    .ivu-modal{
        position: relative;
        width:650px !important;
        .ivu-modal-header{
            border-bottom-color: #fff2ec;
            .header{
                font-size: 24px;
                font-weight: 300;
                padding: 10px 10px 24px;
            }
        }
        .tips{
            background: #fff2ec;
            padding: 10px;
            padding-right: 0px;
            margin: -5px 10px 0;
            p{
                display: inline;
                font-size: 10px;
            }
            width: 610px;
            .timeSlot{
                color: #fab5b5;
                padding:0 5px;
            }
            .center{
                position: absolute;
                left: 220px;
            }
            .right{
                position: absolute;
                left: 460px;
                padding: 0;
            }
        }
        .svgBar{
            .axis path,
            .axis line{
                fill: none;
                stroke: #e4e4e4;
                shape-rendering: crispEdges;
            }

            .axis text {
                font-family: sans-serif;
                font-size: 11px;
                fill:#c9c9c9;
            }
        }
      
        .applyInfo{
            position: relative;
            height: 400px;
            input{
                outline: none;
                box-shadow:none;
            }
            .ivu-input{
                outline: none;
                box-shadow:none;
                transition: none;
            }
            .ivu-input:hover,.ivu-input:focus{
                border-color: #fff2ec; 
            }
            .ivu-input:focus{
                border-width: 2px;
            }
            .applyItem{
                width: 100%;
                padding:4px;
                position: relative;
                height: 40px;
                line-height: 3;
                .ivu-select-visible .ivu-select-selection{
                    border-color: #fff2ec;
                    border-width: 2px;
                    box-shadow: none;
                    transition: none;
                }
                .ivu-select-dropdown{
                    top: 20px !important;
                    .ivu-select-item-selected, .ivu-select-item-selected:hover{
                        background: #fab5b5;
                    }
                }
                .label{
                    font-weight: 600;
                    font-size: 14px;
                    position: absolute;
                    right: 550px;
                }
                .right{
                    position: relative;
                    left: 80px;
                }
                
            }
            .theme{
                top: 4px;
            }
            .member{
                top: 24px;  
                a{
                    color: #fab5b5;
                    transition: none;
                    .ivu-select:focus .ivu-select-selection{
                        border-color: #fff2ec;
                    }
                    .ivu-select-visible{
                        border: none;
                    }
                    .ivu-select-input{
                        cursor: default;
                    }
                    .ivu-select-selection:hover,.ivu-select-selection:active{
                        border-color: #fff2ec;
                    }
                }
              
             
            }
            .applyDate{
                top: 28px;
            }
            .applyTime{
                top: 32px;
                .ivu-select-input{
                    cursor: default;
                }
                .ivu-select:focus .ivu-select-selection{
                    border: 2px solid #fff2ec;
                    box-shadow: none;
                    transition: none;
                }
                .ivu-select-selection:hover{
                    border-color: #fff2ec;
                }
            }
            .applyNote{
                top: 70px;
                .noteTip{
                    position: absolute;
                    left: 86px;
                    top: -24px;
                }
            }
            .isAgree{
                position: absolute;
                top: 388px;
                left: 84px;
                a{
                    color: #777272;
                    text-decoration: underline;
                }
                .ivu-radio-checked .ivu-radio-inner{
                    border-color:#fab5b5;
                }
                .ivu-radio-inner:after{
                    background-color:#fab5b5;
                }
            }
            .ivu-input-wrapper{
                width: 250px;
            }
            .ivu-input-group{
                
            }
            .ivu-tooltip{
                position: relative;
                .ivu-tooltip-popper{
                    position: absolute !important;
                    left: 260px !important;
                    top: 0px !important;
                    .ivu-tooltip-arrow{
                        border-right-color:#e9e9e9;
                        border-width:8px 8px 8px 0;
                        left: 0;
                        top: 8px;
                    }
                    .ivu-tooltip-inner{
                        min-height: 60px;
                        min-width: 160px;
                        background: transparent;
                        color: #c6c6c6;
                        .ivu-tag{
                            display: block;
                            position: relative;
                            i{
                                position: absolute;
                                right: 10px;
                                top: 10px;
                            }
                        }
                    }
                }
                
            }
        }
        .ivu-modal-footer{
            background: transparent;
            border: none;
            .ivu-btn-primary,.ivu-btn-ghost:active,.ivu-btn-ghost:hover{
                background-color: #fab5b5;
                border-color: #fab5b5;
                outline: none;
                transition: none;
            }
            .ivu-btn-ghost:active,.ivu-btn-ghost:hover{
                background: transparent;
                color: #c6c6c6;
                border-color: #fff2ec;
            }
            .submit{
                position: relative;
                left:-400px;
            }
            .return{
                position: relative;
                left: -360px;
            }
        }
    }

}
.bookModal+.ivu-notice{
    margin: 0 20px;
    width: 330px;
    .ivu-notice-with-info:after, .ivu-notice-with-normal:after{
        background: #fab5b5;
    }
}
