.bookModal{
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    font-style: normal;
    .ivu-modal{
        position: relative;
        width:650px !important;
        .header{
            font-size: 24px;
            font-weight: 300;
            padding: 20px 10px 40px;
            border-bottom: 1px solid #fff2ec;
        }
        .tips{
            background: #fff2ec;
            padding: 15px;
            margin-top: -20px;
            p{
                display: inline;
                font-size: 10px;
            }
            width: 620px;
            .timeSlot{
                color: #fab5b5;
                padding:0 5px;
            }
            .center{
                position: absolute;
                left: 230px;
            }
            .right{
                position: absolute;
                left: 470px;
            }
        }
        .svgBar{
            .toolTip{
                position: absolute;
                display: inline-block;
                width: 30px;
                height: 10px;
                background: #666666;
                color: #fff;
            }
        }
        .ivu-modal-footer{
            background: transparent;
        }
    }

}