.ivu-tabs-content {
    padding-top: 0.1rem;
    .orderTab {
        margin-right: 0.15rem;
        .header {
            position: relative;
            .time {
                display: inline-block;
                padding-left: 0.1rem;
                color: #ffcccc;
                font-size: 0.2rem;
            }
            .guide {
                position: absolute;
                display: inline-block;
                right: 0;
                top: 0.05rem;
                font-size: 0.13rem;
                text-align: right;
                span {
                    display: inline-block;
                    padding: 0.02rem 0 0 0.05rem;
                    vertical-align: text-bottom;
                    &:nth-child(1) {
                        border-left: 0.35rem solid #f78888;
                    }
                    ;
                    &:nth-child(2) {
                        margin-left: 0.25rem;
                        border-left: 0.35rem solid #e4e4e4;
                    }
                    ;
                    &:nth-child(3) {
                        margin-left: 0.25rem;
                        padding: 0.02rem 0.12rem 0;
                        color: #ffffff;
                        background-color: rgba(245, 111, 111, 0.5)
                    }
                    ;
                }
            }
        }
        .body {
            margin: 0.1rem 0 0 0.05rem;
            .btn-group {
                text-align: center;
                overflow: hidden;
                .ivu-btn-icon-only {
                    position: relative;
                    top: 0.09rem;
                    padding: 0 0.15rem;
                    width: 6%;
                    font-size: 0.2rem;
                    color: #606266;
                    border-radius: 5px 5px 0 0;
                    border-bottom: 0;
                    &.disable,
                    &.disable:hover {
                        color: #ffffff;
                        background-color: #E0DEDB;
                    }
                    &:hover {
                        color: #ffffff;
                        background-color: #f78888;
                        border: 0;
                    }
                    &:focus {
                        border: 0;
                    }
                }
                .week-day.ivu-btn {
                    display: inline-block;
                    margin: 0 2px;
                    padding: 2px 4px 0;
                    width: 11.5%;
                    font-size: 0.12rem;
                    border-radius: 10px 10px 0 0;
                    border-bottom: 0;
                    color: #606266;
                    background-color: #FFF2F2;
                    &:hover {
                        color: #ffffff;
                        background-color: #f78888;
                        border: 0;
                    }
                    &.click {
                        color: #ffffff;
                        background-color: #f78888;
                        border: 0;
                    }
                }
            }
            .orderTable {
                position: relative;
                width: 100%;
                margin: 0;
                padding: 0;
                border: 1px solid #f78888;
                border-top: 3px solid #f78888;
                border-collapse: collapse;
                tr {
                    margin: 0;
                    padding: 0;
                    border-bottom: 2px solid #fbc3c3;
                    &.active {
                        th {
                            background-color: #f78888;
                            color: #ffffff;
                        }
                    }
                    &:hover {
                        th {
                            background-color: #f78888;
                            color: #ffffff;
                        }
                    }
                    th {
                        width: 12%;
                        height: 0.42rem;
                        margin: 0;
                        padding: 0;
                        border: 1px solid #fbc3c3;
                        color: #F88888;
                        font-size: 0.11rem;
                        cursor: default;
                        &::selection {
                            background: #ffffff;
                            color: #F88888;
                        }
                        &::-moz-selection {
                            background: #ffffff;
                            color: #F88888;
                        }
                        &::-webkit-selection {
                            background: #ffffff;
                            color: #F88888;
                        }
                    }
                    td {
                        position: relative;
                        box-sizing: border-box;
                        width: 5.8%;
                        height: 0.42rem;
                        margin: 0;
                        padding: 0;
                        font-size: 0.1rem;
                        text-align: center;
                        border-left: 0.5px solid #d8d8d8;
                        background-color: #ffffff;
                        &.past {
                            background-color: #e0dedb;
                            &:hover {
                                cursor: not-allowed;
                                ;
                            }
                        }
                        cursor: pointer;
                        div {
                            position: absolute;
                            text-align: center;
                            top: 0;
                            height: 35%;
                            width: 100%;
                            color: #797979;
                            padding-top: 2px;
                            margin: 0;
                            &::selection {
                                background: #ffffff;
                                color: #797979;
                            }
                            &::-moz-selection {
                                background: #ffffff;
                                color: #797979;
                            }
                            &::-webkit-selection {
                                background: #ffffff;
                                color: #797979;
                            }
                        }
                    }
                }
            }
        }
    }
}

.drag-box {
    z-index: 999;
    background-color: #fbc3c3;
    border: 1.5px solid transparent;
    border-bottom: 0;
    border-top: 0;
    border-left-color: rgb(248, 61, 61);
    border-right-color: rgb(248, 61, 61);
    opacity: 0.8;
    overflow: hidden;
    cursor: pointer;
    span {
        display: inline-block;
        padding-left: 3px;
        font-size: 0.1rem;
        font-weight: 600;
        color: red;
    }
    .sTimeStr {
        margin-top: 0.05rem;
    }
}

.time-tip {
    position: absolute;
    width: auto;
    height: 20px;
    font-size: 0.1rem;
    padding: 1px 10px 0;
    text-align: center;
    color: #ffffff;
    background-color: #F27E80;
}

.selected-box{
    z-index: 999;
    text-align: center;
    background-color: #fbc3c3;
    border: 1.5px solid transparent;
    border-bottom: 0;
    border-top: 0;
    opacity: 0.8;
    overflow: hidden;
}