.admin-mSpace{
    padding-left: 0.02rem;
    .header{
        .ivu-input-group-large>.ivu-input-group-append{
            height: 0.32rem;
        }
        .spaceState{
            position: relative;
            top: -0.3rem;
            left: 2.2rem;
            height: 0.31rem;
        }
      
    }
    .main{
        width: 86%;
        .ivu-table-wrapper{
            .ivu-table-header{
                font-size: 0.14rem;
                th{
                    font-weight: normal;
                }
            }
        }
    }
}
